.center-form {
  justify-content: center;
}


.log_in_actions {
  display: flex;
  align-content: space-between;
}

h2 {
  text-align: center;
}

.test {
  display: flex;
  justify-content: center;
}
