.movie-container {
  display: flex;
  height: calc(100vh - 66px);
}

.movie-info {
  padding: 30px;
  justify-content: space-evenly;
  font-family: 'Roboto', sans-serif;
}

.movie-title {
  color: #222222;
  font-size: 56px;
}

.general-info {
  display: flex;
  font-size: 12px;
  p {
    margin-right: 20px;
  }
}
