.movie-container {
  display: flex;
  height: calc(100vh - 66px);
}

.movie-info {
  padding: 30px;
  justify-content: space-evenly;
  font-family: 'Roboto', sans-serif;
}

.movie-title {
  color: #222222;
  font-size: 56px;
}

.general-info {
  display: flex;
  font-size: 12px;
  p {
    margin-right: 20px;
  }
}

.schedule {
  margin-top: 50px;
  .simple_form {
    display: flex;
  }
  .form-group {
    margin: 0;
  }
  .form-group label {
    display: none;
  }
  .form-button {
    margin-left: 10px;
    border-radius: 10%;
    background-color: #a52727;
    color: white;
    border: none;
  }
}




