.movie-container {
  display: flex;
  height: calc(100vh - 66px);
  img {
    // padding-top: 60px;
    height: auto;
  }
}

.movie-info {
  padding: 20px 30px 10px 50px;
  justify-content: space-evenly;
}

.movie-title {
  color: #222222;
  font-size: 56px;
  // padding-top: 55px;
  font-weight: bold;
}

.general-info {
  display: flex;
  font-size: 12px;
  p {
    margin-right: 20px;
  }
}

.schedule {
  margin-top: 20px;
   display: flex;
  .date-picker {
    .simple_form {
      display: flex;
      position: relative;
    }
    .form-group {
      margin: 0;
    }
    .form-group label {
    }
    .form-button {
      margin-left: 10px;
      border-radius: 10%;
      background-color: #a52727;
      color: white;
      border: none;
      height: 38px;
      position: absolute;
      right: -40px;
      top: 32px;
    }
  }
}

.sessions-button {
  label {
    background-color: white;
    border-color: #a52727;
    margin-right: 15px;
    color: #a52727;
    width: 80px;
    text-align: center;
    padding: 5px;
    border-radius: 5px;
    margin-bottom: 10px;
    cursor: pointer;
    &:hover {
      background-color: #f6e1e1;
      border-color: #f6e1e1;
    }
  }
}

.schedule-buttons {
  margin-left: 80px;
  position: relative;
  top: 72px;
  border-color: #f6e1e1;
}

#number-tickets {
  &.hidden {
    display: none;
  }
}

.sessions-button-input {
  opacity: 0;
}

#new_booking {
  legend {
  display: none;
  }
}

.form-post {
  display: flex;
  flex-direction: row;
}

.create-booking {
  background-color: #a52727;
  color: white;
  border-color: #a52727;
  border-radius: 5px;
  &:hover {
    background-color: #2d132c;
    border-color: #2d132c;
  }
}


