.pay-container {
  display: flex;

}

#image_pay {
  height: calc(100vh - 66px);
}

.payment-form-container {
  justify-items: center;
  height: 90vh;
}
.pay-title {
  border-bottom: 1px;
  border-bottom-style: solid;
  text-align: center;
  margin-bottom: 20px;
  padding-bottom: 10px;
}

.payment-form {
  border-style: solid;
  border-width: 1px;
    font-size: 16px;
    width: 750px;
    margin: 20px 80px;
    background-color: white;
    padding: 15px 25px;
}

.payment-data {
  font-size: 13px;
}

.order {
      margin-left: 30px;
      width: 400px;
      display: flex;
      justify-content: space-between;
}



#name_on_card {
          font-size: 14px;
        }

#card_number {
  font-size: 14px;
}

#exp_month {
  font-size: 14px;
}

#cvv {
  font-size: 14px;
}

#title_line {
  text-align: center;
  font-size: 18px;
  border-top: 1px;
  border-top-style: solid;
  text-align: center;
  padding-top: 10px;
  margin-bottom: 20px;
}




.payment-data {
  width: 650px;
  margin-left: 25px;
  margin-right: 30px;
}

.form-check {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;


}

#pay-button {
  background-color: #a52727;
  border-color: #a52727;
}

