.review-container {
  display: flex;
  height: 100vh;
  padding-top: 66px;
  .movie-info {
    flex: 1;
    padding-left: 430px;
  }
  .movie-poster {
    position: fixed;
    top: 66px;
    left: 0;
    height: 100%;
    overflow: hidden;
    width: 400px;
    display: flex;
    justify-content: center;
  }
  .user-info {
    width: 200px;
  }
  .date-info {
    width: 100px;
  }
}
