<h1>Your Booking Confirmation</h1>
<p>email: <%= @booking.user.email %></p>
<p>Booking status: <%= @booking.status %></p>
<p>For the movie: <%= @booking.movie_session.movie.title %></p>
<p>For the Session: <%= @booking.movie_session.start_time %></p>
