<div class="container">
  <div class="form-wrapper" style="width: 500px; margin: 0 auto;">
    <h3>Choose a session</h3>
    <%= simple_form_for :search, method: :get do |t| %>
      <%= t.input :date, as: :string, input_html: { class: "dobpicker" } %>
      <%= t.submit "Go", class: "btn btn-primary" %>
    <% end %>
  </div>
</div>
