<div class="container">

  <h1>My history</h1>

  <div class="bookings-container">
      <% @user.bookings.each do |booking| %>
         <%= render "dash_card", booking: booking%>
      <% end %>

</div>
