<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(240,240,240,0.4)), url(https://images.unsplash.com/photo-1489599849927-2ee91cede3ba?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1650&q=80);">
  <div class="container center-container">
    <h1 class="text-center">The Showtime Booker!</h1>
    <p class="text-center">Book your movie tickets. Anytime. Anywhere. Everywhere.</p>
    <%= link_to "Discover all our movies", movies_path, class: "menu-button" %>
  </div>
</div>
