<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://images.unsplash.com/photo-1524712245354-2c4e5e7121c0?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2978&q=80);">
  <div class="container center-container">
    <h1 class="text-center">The Showtime Booker!</h1>
    <p class="text-center">Book your movie tickets. Anytime. Anywhere. Everywher.</p>
    <%= link_to "Discover all our movies", movies_path %>
  </div>
</div>
