.navbar-lewagon {
  justify-content: space-between;
  background: white;
  position: fixed;
  width: 100vw;
  z-index: 1;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
  // display: flex;
  // justify-content: space-around;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

.user-avatar {
  margin-left: 20px;
  background-position: cover;
  font: rgba(0,0,0,0);
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

.nav-item.dropdown {
  cursor: pointer;
}

.search-input.hide-search-input {
  display: none;
}

.search-element {
  display: flex;
  align-items: center;
}

.search-button {
  border: none;
  &:focus {
    outline: none;
  }
}
// @media only screen and (max-width: 600px) {
//   .search-button2 {
//     // border: none;
//     outline: none;
//     margin-left: 10px;
//   }
// }
.search-button2 {
  border: none;
  margin-left: 10px;
  &:focus {
    outline: none;
  }
}
